// ----Gilroy----
@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Gilroy-Medium.ttf) format('truetype'),
        url(fonts/Gilroy-Medium.woff) format('woff'),
        url(fonts/Gilroy-Medium.eot) format('eot');
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Gilroy-Bold.ttf) format('truetype'),
        url(fonts/Gilroy-Bold.woff) format('woff'),
        url(fonts/Gilroy-Bold.eot) format('eot');
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/Gilroy-ExtraBold.ttf) format('truetype'),
        url(fonts/Gilroy-ExtraBold.woff) format('woff'),
        url(fonts/Gilroy-ExtraBold.eot) format('eot');
}

// -------------Chronicle-Display----------------------

@font-face {
    font-family: "Chronicle-Display";
    font-style: normal;
    font-weight: 800;
    src: url(fonts/Chronicle-Display-ExtraBold.ttf) format('truetype'),
        url(fonts/Chronicle-Display-ExtraBold.woff) format('woff'),
        url(fonts/Chronicle-Display-ExtraBold.otf) format('otf');
}

@font-face {
    font-family: "Chronicle-Display";
    font-style: normal;
    font-weight: 600;
    src: url(fonts/Chronicle-Display-Semibold.ttf) format('truetype'),
        url(fonts/Chronicle-Display-Semibold.woff) format('woff'),
        url(fonts/Chronicle-Display-Semibold.otf) format('otf');
}

@font-face {
    font-family: "Chronicle-Display";
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Chronicle-Display-Bold.ttf) format('truetype'),
        url(fonts/Chronicle-Display-Bold.woff) format('woff'),
        url(fonts/Chronicle-Display-Bold.otf) format('otf');
}